/* File: Tienda de bolsos/style.css */
    #carrousel{
    background-image: url(imagenes/imagen\ 3\,\ bolsos\ carrousel.webp);
    background-position: 30%;
    height: 500px;
}
h1, h2, .titulo {
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: 'Calibri', sans-serif;
}
